<!--canyin slide comments-->
<div class="wrap block">
    <div class="container">
        <div class="row news_block">
            <div class="span6">
                <ul id="inline_comment" class="jcarousel-skin-tango">
                    <li>
                    Cras vulputate pretium massa gravida egestas consectetur?<span>Lorem ipsum dolor sit amet &amp; consectetur adipiscing elit!Cras vulputate pretium massa gravida egestas consectetur?<span>Lorem ipsum dolor sit amet &amp; consectetur adipiscing elit!Cras vulputate pretium massa gravida egestas consectetur?<a href="#">Read more...</a>
                    </li> 
                    <li>
                    Cras vulputate pretium massa gravida egestas consectetur?<span>Lorem ipsum dolor sit amet &amp; consectetur adipiscing elit!Cras vulputate pretium massa gravida egestas consectetur?<span>Lorem ipsum dolor sit amet &amp; consectetur adipiscing elit!Cras vulputate pretium massa gravida egestas consectetur?<a href="#">Read more...</a>
                    </li>
                    <li>
                    Cras vulputate pretium massa gravida egestas consectetur?<span>Lorem ipsum dolor sit amet &amp; consectetur adipiscing elit!Cras vulputate pretium massa gravida egestas consectetur?<span>Lorem ipsum dolor sit amet &amp; consectetur adipiscing elit!Cras vulputate pretium massa gravida egestas consectetur?<a href="#">Read more...</a>
                    </li>
                    <li>
                    Cras vulputate pretium massa gravida egestas consectetur?<span>Lorem ipsum dolor sit amet &amp; consectetur adipiscing elit!Cras vulputate pretium massa gravida egestas consectetur?<span>Lorem ipsum dolor sit amet &amp; consectetur adipiscing elit!Cras vulputate pretium massa gravida egestas consectetur?<a href="#">Read more...</a>
                    </li>                                                       
                </ul>                         
            </div>                
        </div>                
    </div>
</div>        
<!--//canyin slide comments-->